{
    "app: {
        "port": 8080,
        "tokenExpiryHour": 0
    }
    "secret: {
        "jwt": "yourJWTSecret"
    }
    "database": {
        "user": "youruser",
        "password": "yourpassword",
        "name": "yourdbname"
    }
}